html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    margin: 0px;
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
	width: 100%;
}
.body {
	width: 100%;
	height: 100vh;
	background-color: #29292a;
	display: flex;
	justify-content: center;
}
.container {
	width: 271px;
    height: 577px; 
    background-color: #0c0cd42e;
    margin: auto;
    border-radius: 20px;
}
#loading img{
    margin-top: 120px;
}
/*home*/
.home {
	width: 100%;
	height: 100%;
	border-radius: 20px;
    
}
.container-view {
    display: none;
}
.container-view_control {
    margin-top: 20px;
}
.home-header {
    height: 10%;
    padding: 15px;
    display: flex;
}
.home-header_add_time {
	padding-top: 10px;
	width: 70%;
}
.time {
	color: #b0b0b1;
	font-size: 10px;
	padding: 3px;
}
.add {
	color: white;
	padding: 3px;
}
.home-header_theme {
	width: 30%;
	margin-top: 10px;
}
.theme {
	display: flex;
    padding: 5px;
    border: 1px solid #777779;
    border-radius: 10px;
    justify-content: center;
}
.them-light i {
	padding: 5px;
    /*background-color: red;*/
    border-radius: 20px;
    font-size: 13px;
}
.them-dark {
	padding-left: 5px;
}
.them-dark i {
	padding: 5px;
    background-color: white;
    border-radius: 20px;
    font-size: 13px;
}
.home-main {
	width: 100%;
	color: blue;
}
.img-w {
	width: 100%;
    height: 100%;
}
.img-w img {
    margin-left: 50px;
    margin-right: 50px;
    width: 170px;
    height: 170px;
}
.sun-img img {
	width: 40px;
    height: 40px;
}
.time-sun {
	color: #dcdcd5;
    font-size: 10px;
}
.temperature {
    padding-top: 10px;
    animation: 0.5s cubic-bezier(0.46, 0.45, 0.59, 0.82) 0s 1 textUp;
    transition: transform .3s cubic-bezier(.165,.84,.44,1),opacity .3s ease-out;
    will-change: transform,opacity;
     display: block;
}
.temperature h1 {
	font-size: 20px;
    color: #efefef;
    font-weight: bold;
    text-align: center;
}
.temperature h2 {
	font-size: 89px;
    color: #efefef;
    font-weight: bold;
    text-align: center;
}
.unit-dot {
	color: #f9d65d;
    font-weight: 48;
    border-radius: 6px;
    height: 6px;
    margin-left: 4px;
    margin-top: 7px;
    position: absolute;
    width: 0px;
    font-size: 25px;
}
.home-description {
	width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    animation: 1s cubic-bezier(0.46, 0.45, 0.33, 0.82) 0s 1 pulsate1
}

.description-box {
	width: 20%;
    padding: 15px;
    border-right: 2px solid #504a4a;
}
.description-box:last-child {
    border-right: none;
}
.the-sun {
	display: flex;
	justify-content: space-around;
}
.description-box_time {
	display: flex;
    justify-content: center;
}
.description-box_time p{
	font-size: 10px;
    color: #929291;
    margin: auto;
    padding-bottom: 5px;
}
.description-box_temperature {
	display: flex;
    justify-content: center;
}
.description-box_temperature h2{
	color: #dcdcd5;
}
.home-control {
	width: 100%;
    height: 10%;
    color: black;
    display: flex;
    justify-content: space-around;
}
/*search*/
.search {

}
/*about*/
.about {
    display: none;
    padding: 20px;
    line-height: 1.4;
    padding-bottom: 45px;
    font-family: monospace;
}
.about-title {
    font-size: 23px;
    font-weight: bold;
    color: white;
    padding: 20px 0px 20px 0px;
}
.about p {
    color: #756f6f;
    pointer-events: unset;
    font-family: monospace;
    margin: 10px 0px 10px 0px;
}
.about-list_api li{
    padding-bottom: 5px;
}
.about-list_api li a{
    text-decoration: none;
    color: #756f6f;
}
.img-git {
    width: 30%;
    margin: 0 auto;
    padding-top: 60px;
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
  }
  100% {
  }
}

@keyframes textUp {
    0% {
        opacity: 0;
        transform: translateY(5px);
        opacity: 1; 
       
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}